{% extends 'events/base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
	<div class="col-md-8">


            <div class="row">
		<div class="col-md-12 mt-4">
                    <div>
			<h1>{{ event_details.name }}</h1>
		    </div>
                    <div>

			<h4>{{ event_details.event_datetime }}</h4>
		    </div>

		    <br/>
		    <div>
                        <p>
			    {{ event_details.description }}
			</p>
		    </div>


                    <br/>
		    <div class="border border-dark rounded">
			<form action="{% url 'rsvp' event_details.id %}" method="POST">
			    <div class="form-group m-2">
				{% csrf_token %}
				{{ rsvp_form }}

				{% if rsvp_form.rsvp.value %}
                                <br/>
                                <small>You are going for this event</small>
				{% else %}
				<small>You are NOT  going for this event</small>
				{% endif %}
			

				<div class="custom-control custom-checkbox m-2">
                                    <input  type="submit" class="btn btn-sm btn-outline-primary" />
				</div>
			    </div>
			</form>
		    </div>


		</div>

	    </div>

            <hr/>

	    <!-- Going and waitlisted peoples -->
	    <a href="" data-toggle="collapse" data-target="#demo">Show/Hide Participants ({{ going|length }}/{{ event_details.max_attendees }})</a>

            <div class="row collapse" id="demo">
		<div class="col-md-6">
		    {% if not going %}
                    <p>Be the first to RSVP!</p>
		    {% else %}
                    <h3>Going</h3>
                    <ul>
			{% for g in going %}
                        <li>{{ g.user.username}}</li>
                        {% endfor %}
                    </ul>
		    {% endif %}
		</div>

                <div class="col-md-6">

		    {% if waitlisted %}
		    <h3>
			Waitlisted
		    </h3>
		    
		    <ul>
			{% for w in waitlisted %}
                        <li>{{ w.user.user_name }}</li>
			{% endfor %}
                    </ul>

		    {% endif %}
		</div>

	    </div>

            <hr/>
	    <!-- comments -->

            <div class="row">
		<div class="col-md-12">
                    <h3>Comments</h3>
                    <div class="commentbox">
                        <div class="author-details">
			    Posted by: <b>The Mask</b> <i>at 21:33:10</i>
			</div>
                        <br/>
                        <div class="comment">
                            Eros, in cursus turpis massa tincidunt dui ut ornare lectus sit amet est!
			    Tincidunt eget nullam non nisi est, sit amet facilisis magna etiam tempor,
			    orci eu lobortis elementum, nibh.
			</div>
		    </div>

		    {% for comment in comments %}
                    <br/>
			<div class="commentbox">
                            <div class="author-details">
				<h5>Posted by: <b>{{ comment.user.first_name }} {{comment.user.last_name }}</b> <i>at {{ comment.posted_at }}</i></h5>
			    </div>
                            <br/>
                            <div class="comment">
				{{ comment.comment}}
			    </div>
			</div>
                        <br/>
                        <hr/>
		    {% endfor%}

                    <br/>

                    <form action="{% url 'comment' event_details.id %}" method="POST">
			{% csrf_token %}
                        <div class="form-group">
                            {{ comment_form }}
			</div>
                        <div class="form-group">
                            <input name="submit" type="submit" value="Submit" class="btn btn-sm btn-outline-primary" />
			</div>

                    </form>
		</div>
	    </div>
	</div>
    </div>
</div>



{% endblock %}
