{% extends 'events/base.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Volleyball with Paps</h1>
    <p class="lead">This is where you can spend some quality time with me. Sign up!</p>
</div>


<div class="container mb-4">

    
    <div class="row justify-content-md-center">
	<div class="col-md-6">
	    <a href="1/" class="btn">
		<div class="card text-white bg-dark mb-3">
		    <div class="card-header">Sunday 04:00 PM, June 23, 2019</div>
		    <div class="card-body">
			<h4 class="card-title">First Volleyball Meet</h4>
			<p class="card-text">Venue: EIS volleyball court. Please bring your own clothes. Thanks!</p>
		    </div>
		</div>
	    </a>
	</div>


	
    </div>

    <div class="row justify-content-md-center">
	<div class="col-md-6">
	    <a href="1/" class="btn">
		<div class="card text-white bg-dark mb-3">
		    <div class="card-header">Sunday 04:00 PM, June 23, 2019</div>
		    <div class="card-body">
			<h4 class="card-title">First Volleyball Meet</h4>
			<p class="card-text">Venue: EIS volleyball court. Please bring your own clothes. Thanks!</p>
		    </div>
		</div>
	    </a>
	</div>
    </div>

    
	
</div>

{% endblock content %}
